@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
}

body {
  color: var(--text);
  background-color: var(--background);
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-style: italic;
  padding-top: 10px;
}

#mainContent {
  display: grid;
  grid-template-areas:
    "h h h"
    "t t t"
    "e e b"
    "f f f";
}

.text {
  margin-left: 5%;
  margin-right: 5%;
}

h1 {
  font-weight: 600;
  font-style: normal;
  font-family: inherit;
  color: inherit;
}

#textArea {
  color: var(--primary-dark);
  display: block;
  margin: auto;
  padding: 10px;
  grid-area: t;
  min-height: 30vh;
  height: max-content;
  max-height: 50vh;
  min-width: 60vw;
  width: max-content;
  max-width: 70vw;
  padding: 5%;
  border: 2px solid var(--bs-link-color);
  border-radius: 20px;
  resize: none;
}

#restoreButton {
  grid-area: b;
  justify-self: end;
}

#hidingObject {
  position: absolute;
  padding: 10px;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  display: none;
}

div>a {
  text-decoration: none;
  color: black;
}

footer~h5 {
  font-size: 12px;
  color: darkgray;
}